/*
Fonts:
Oswald: Light 300, Medium 500, Bold 700
Space Grotesk: Light 300, Regular 400, SemiBold 600
Shadows Into Light Regular 400

font-family: 'Oswald', sans-serif;
font-family: 'Shadows Into Light Two', cursive;
font-family: 'Space Grotesk', sans-serif;

Colors:
red: #DD4A48, rgb(221,74,72)
dark: #4F091D, rgb(79,9,29)
beige: #F6F2EE, rgb(246,242,238)
black: #000, rgb(0,0,0)
white: #fff, rgb(255,255,255)
*/


/* General styles */
html {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #F6F2EE;
  color: #4F091D;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  line-height: 1.2;
}

h1 {
  color: #DD4A48;
  font-size: 3rem; /* 48px/16px */
  letter-spacing: 0.05em; /* 2.4px/48px */
  margin: 0;
  margin-bottom: 1.25rem; /* 2Opx/16px */
  font-weight: 700;
  text-transform: uppercase;
  border-top: solid 5px #DD4A48;
  border-bottom: solid 5px #DD4A48;
  display: inline-block;
}

h2 {
  font-weight: 300;
  font-size: 1.625rem;
  margin-top: 3.5rem;
  margin-bottom: 2.25rem;
}

a {
  color: #DD4A48;
  text-decoration: none;
  padding: 0.25em;
  font-weight: 600;
}

em {
  font-weight: 300;
  font-style: normal;
}

p, li {
  margin: 0.5rem 0;
  line-height: 1.75;
}

dd, dl {
  margin: 0;
}

dt{
  margin-top: 1rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  margin: 0;
  padding: 0;
}


/* Responsive images */
img {
  max-width: 100%;
  height: auto;
  display: inline-block
}

/* Layout */
.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

/* Components */
.btn {
  background-color:  #DD4A48;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  padding: 0.8em 1.5em;
  text-transform: uppercase;
  font-weight: 300;
  border: solid 3px transparent;
  letter-spacing: 0.1em;
}

.btn:hover, .btn:active {
  background-color:  transparent;
  border: solid 3px #DD4A48;
  color: #DD4A48;
  font-weight: 500;
}


/* Header */
.main-header {
  background-color: #fff;
}
.main-header__logo {
  display: block;
  width: 8rem;
  margin: 0 auto;
}

.main-header__logo img {
  width: 100%;
}

.main-header__nav ul {
  display: flex;
  overflow-x: auto;
}

.main-header__nav ul li {
  text-align: center;
}

.main-header__nav a {
  display: block;
  font-family: 'Oswald', sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  padding: 0.5em 0.6em;
  color: #4F091D;
  white-space: nowrap;
}

.main-header__nav a:hover, .main-header__nav a:active{
  color: #DD4A48;
}

/* Footer */
.main-footer {
  background-color: #DD4A48;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}
.main-footer ul {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.main-footer a {
  color: #fff;
  padding: 0.5em 0.85em;
}

.main-footer a:hover, .main-footer a:active {
  background-color: #fff;
  color: #DD4A48;
}

/* Main Part */
main {
  flex-grow: 1;
}


/* Homepage – Hero Area */
.hero-area{
  padding: 3rem;
  text-align: center;
  background-image: url(../img/hero-image-small.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-area h2 {
  color: #fff;
  margin: 0;
  margin-bottom: 2rem;
}


/* Page Styles */

section {
  padding: 3rem 0;
}

section > header {
  text-align: center;
}

section > header p {
  font-size: 1.25rem;
  line-height: 1.25;
  margin-bottom: 2rem;
}


/* Staff */

.staff-section ul {
  padding: 0;
  list-style: none;
}
.staff-section li {
  margin-bottom: 1rem;
  position: relative;
}
.staff-section img {
  width: 100%;
  height:auto;
  display: block;
}
.staff-section h2 {
  background-color: rgb(221, 74, 72, 0.8);
  color: #fff;
  margin: 0;
  padding: 0.5em 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.staff-section h2 span {
  display: block;
  font-size: 0.7em;
  font-weight: 300;
}


/* About */
.about-section {
  padding-bottom: 0;
}

.about-section li::marker {
  color: #DD4A48;
}

.about-section aside {
  margin-top: 2rem;
}
.about-section blockquote {
  padding: 2rem;
  margin: 0;
  font-size: 1.2rem;
  background-image: url('../img/dot-grid.png');
}

.about-section blockquote p {
  font-family: 'Oswald', sans-serif;
  text-align: right;
  margin-top: 1em;
  font-size: 0.8em;
  font-style: normal;
  display: block;
}

.about-section q {
  font-weight: 600;
}

.about-section blockquote q {
  position: relative;
  padding-left: 2.5em;
  display: inline-block;
  font-weight: 600;
}

.about-section blockquote q:before { 
  content: open-quote;
  font-size: 5em;
  line-height: 0.8em;
  color: #DD4A48;
  position: absolute;
  left: 0;
  top: 0;
}

.about-section blockquote q:after { 
  content: '';
}


/* Services */
.services-section article {
  background-color: #fff;
  margin: 2rem 0;
  padding: 2rem 1rem;
  text-align: center;
  box-shadow: rgba(0,0,0,0.1) 10px 10px 0;
}
.services-section article h2 {
  margin-top: 1rem;
}

.services-section article svg {
  width: 5rem;
}
.services-section .st0 {
  fill:#DD4A48;
}







/* MEDIA QUERIES */

@media only screen and (min-width: 580px) {
  .main-header__nav ul{
    justify-content: center;
  }
  section > header.container {
    max-width: 900px;
    margin-bottom: 3rem;
  }
  .staff-section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
  }

  .staff-section ul li {
    width: 320px;
    flex-grow: 1;
    margin: 0;
  }
  .about-section aside {
    display: flex;
  }
  .about-section aside img {
    width: 50%;
  }
  .about-section aside blockquote {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .services-section > div {
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
  }
  .services-section article{
    width: 250px;
    flex-grow: 1;
    margin: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .main-header .container, .main-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-header__logo {
    margin:0;
    position: relative;
    top: 2rem;
    margin-top: -2rem;
  }
  .main-header__nav {
    margin:0
  }
  .main-header__nav a{
    font-size: 1.1rem;
  }
  .main-footer ul {
    margin: 0;
  }
  .hero-area{
    background-image: url(../img/hero-image-large.jpg);
  }
  .about-section aside blockquote {
    font-size: 1.5rem;
  }
  .about-section > .container:nth-child(2) {
    column-count: 2;
    column-gap: 2rem;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 1280px){
  html {
    font-size: 18px;
  }
  .services-section > div {
    gap: 2rem;
  }
}

@media screen and (min-width: 1650px){
  html {
    font-size: 21px;
  }
  .staff-section ul{
    gap: 2rem
  }
}

@media screen and (min-width: 1920px){
  html {
    font-size: 24px;
  }
}